@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto Slab", serif;
}

.contenedor {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

/* HEADER */

.hero {
    background-image:
    linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.5)),
    url(../img/hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 35px;
}

.top-header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px 0;
}

.links-top, .social-top {
    display: flex;
    gap: 30px;
}

.links-top a{
    color: #FFFFFF;
    font-size: 20px;
}

.links-top span {
    color: white;
}

.social-top a img {
    width: 30px;
    height: 30px;
}

.nav-header nav {
    display: flex;
    gap: 35px;
    justify-content: flex-end;
    padding: 15px 0;
    font-size: 20px;
}

.nav-header a {
    color: #FFFFFF;
}

/* TITLE HEADER */
.title-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.title-header h1 {
    color: white;
    font-size: 85px;
}

/* MAIN */
/* PRIMER SECTION */
.descripcion {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
    padding: 10px 30px; 
    gap: 80px;
}

.texto{
    display: flex;
    flex-direction: column;
    text-align: justify;
    width: 65%;
    max-width: 600px;
    line-height: 32px;
    gap: 80px;
    font-size: 15px;
}

.texto hr{
    border: none;
    height: 2px;
    background: linear-gradient(to right, #00cfff, #005eff);
}

.imagen{
    width: 35%;
    text-align: center;
}

.imagen img {
    max-width: 100%;
}

.texto p{
    color: #6B7278;
}

/* SEGUNDO SECTION */
.desc-team{
    background-color: #F6F8FA;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap; 
    margin-bottom: 35px;
    padding: 30px 25px;
    gap: 100px;
    line-height: 45px;
}

.desc-team div {
    max-width: 450px;
    text-align: center;
}

.titulos {
    font-weight: 350;
    font-size: 30px;
}

.titulos strong{
    font-weight: 800;
}

/* TERCER SECTION */
.photo-team{
    display: flex;
}

.photo-team img{
    width: 25%;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.photo-team img:hover{
    filter: grayscale(0%);
}

/* CUARTA SECTION */
.start-project{
    background-image: url(../img/triangles.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px 0;
    gap: 30px;
}

.start-project h2{
    font-size: 70px;
    max-width: 600px;
    text-align: center;
}

.start-project p{
    font-size: 25px;
    color: #3f4449;
}

.start-project button{
    font-size: 18px;
    color: #FFFFFF;
    background-color: #0CB9E7;
    padding: 20px 30px;
    border-radius: 8px;
    border-style: none;
}

/* QUINTA SECCION */
.about-empresa{
    background-color: #22242A;
    display: flex;
    padding: 35px 28px;
    max-width: 100%;
    gap: 60px;
}

.about-empresa h3, 
.aparte{
    color: #FFFFFF;
}

.about-empresa p{
    color: #5a5d5f;
    font-size: 16px;
}

.about-empresa > div{
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 30px;
    line-height: 30px;
    max-width: 430px;
    width: 25%;
}

.redes{
    display: flex;
    gap: 30px;
}

.redes img{
    width: 20px;
    height: 20px;
    background-color: #6B7278;
    padding: 6px 5px;
    border-radius: 3px;
}

.fotosrecientes .post{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 0;
}

.fotosrecientes .post p{
    color: #FFFFFF;
}

.fotosrecientes hr{
    border: none;
    height: 2px;
    background: linear-gradient(to right,#444, #999);
}

.fotosrecientes .post img{
    width: 90px;
    height: 60px;
}

.newsletter form{
    border-style: solid;
    border-width: 4px;
    border-color: #5a5d5f;
    padding: 30px;
}

.enviar-info{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    gap: 20px;
}

.newsletter p{
    padding-bottom: 30px;
}

.newsletter input{
    border-style: solid;
    border-width: 4px;
    border-color: #5a5d5f;
    background-color: #26272E;
    padding: 20px;
}

.newsletter input::placeholder{
    color: #FFFFFF;
}

.newsletter button{
    border-style: none;
    font-size: 16px;
    color: #FFFFFF;
    padding: 20px 15px;
    background-color: #0CB9E7;
}

/* FOOTER */
footer{
  background-color: #26272E;
  color: #6B7278;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 35px;
  font-size: 13px;
}

.copyright-footer{
  text-align: left;
}

.links-footer ul {
  display: flex;
  list-style: none;
  gap: 18px;
}

.links-footer li::after {
  content: "•";
  color: #0ee8f0;
  margin-left: 10px;
}

.links-footer li:last-child::after {
  content: "";
}

.links-footer a {
  text-decoration: none;
  color: #6B7278;
  font-weight: 600;
}




