@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto Slab", serif;
}

.contenedor {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

/* HEADER */

.hero {
    background-image:
    linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.5)),
    url(../img/hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 35px;
}

.top-header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px 0;
}

.links-top, .social-top {
    display: flex;
    gap: 30px;
}

.links-top a{
    color: #FFFFFF;
    font-size: 20px;
}

.links-top span {
    color: white;
}

.social-top a img {
    width: 30px;
    height: 30px;
}

.nav-header nav {
    display: flex;
    gap: 35px;
    justify-content: flex-end;
    padding: 15px 0;
    font-size: 20px;
}

.nav-header a {
    color: #FFFFFF;
}

/* TITLE HEADER */
.title-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.title-header h1 {
    color: white;
    font-size: 85px;
}

/* MAIN */
/* PRIMER SECTION */
.descripcion {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
    padding: 10px 30px; 
    gap: 80px;
}

.texto{
    display: flex;
    flex-direction: column;
    text-align: justify;
    width: 65%;
    max-width: 600px;
    line-height: 32px;
    gap: 80px;
    font-size: 15px;
}

.imagen{
    width: 35%;
}

.descripcion .imagen img {
    max-width: 100%;
    max-height: 100%;
    text-align: center;
}

.texto p{
    color: #6B7278;
}

/* SEGUNDO SECTION */
.desc-team{
    background-color: #F6F8FA;
    display: flex;
    margin-bottom: 35px;
    padding: 20px 30px;
    text-align: center;
    gap: 20px;
    line-height: 45px;
}

.titulos{
    font-size: 30px;
}

.photo-team{
    display: flex;
}

.photo-team img{
    width: 25%;
}

.start-project{
    background-image:
    linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.3)), 
    url(../img/triangulos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
}

.start-project h2{
    font-size: 80px;
}

.about-empresa{
    background-color: #22242A;
    display: flex;
}

.redes{
    display: flex;
}

.redes img{
    width: 20px;
    height: 20px;
}


footer{
    background-color: #26272E;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}

.copyright-footer,
.links-footer a{
    color: #6B7278;
}


